body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  align-items: center;
}
nav {
  text-align: right;
  flex-grow: 1;
  display: block;
}
nav span {
  display: inline-block;
  padding: 20px 10px;
}
a {
  color: seashell;
  text-decoration: underline;
  cursor: auto;
}
header {
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center;
  width: 100%;
  display: flex;
  z-index: 1;
  background-color: black;
}
.logo {
  padding-left: 10px;
  align-items: center;
  display: flex;
  height: 50px;
}
.container {
  display: flex;
  position: relative;
  margin-right: 20px;
  margin-left: 200px;
  text-align: center;
}
.top.image {
  margin: 0;
  width: 1200px;
  height: 700px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
}

.mission {
  background-color: black;
  align-items: center;
  margin-top: 350px;
  width: 100%;
}

.mid.image {
  padding-top: 100px;
  padding-left: 250px;
  width: 1000px;
  text-align: center;
}
.TOM {
  height: 200px;
  width: 300px;
  display:inline-grid;
  padding: 5px;
}
#store {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}
.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
#locations {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-locations-background.jpg);
  height: 500px;
  padding-top: 70px;
  width: 1200px;
}
div {
  display: block;
}

#locations .flex-container {
  width: 1100px;
  maring: auto;
}
.flex-container.locations {
  padding-top: 5px;
}
.flex-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.location {
  opacity: 1;
  background-color: black;
  flex-basis: 280px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px;
  margin: 6px 27px;
}
h2, h3, h4 {
  margin: 0px;
  padding: 10px;
}
.last {
  height: 200px;
  padding-top: 150px;
}
footer {
  text-align: left;
}
