body {
  font-family: Helvetica;
  font-size: 22px;
  color: seashell;
  background-color: black;
  opacity: 0.9;
  align-items: center;
}
nav {
  display: inline-grid;
  font-family: Helvetica;
  align-items: right;
  font-weight: bold;
  text-decoration: underline;
  color: seashell;
  padding-left: 950px;
  margin: 0 auto;
  float: right;
  flex-grow: 1;
}
header {
  position: fixed;
  height: 69px;
  border-bottom: 1px solid seashell;
  align-items: center;
  width: 100%;
  display: flex;
  z-index: 1;
  background-color: black;
}
.logo {
  padding-left: 10px;
  align-items: center;
  display: flex;
  height: 50px;
}
.container {
  display: flex;
  position: relative;
  top:70px;
  left: 160px;
  text-align: center;
}
.top.image {
  margin: 0;
  width: 1200px;
  height: 700px;
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-mission-background.jpg);
}

.mission {
  background-color: black;
  align-items: center;
  margin-top: 350px;
  width: 100%;
}

.mid.image {
  padding-top: 100px;
  padding-left: 250px;
  width: 1000px;
  text-align: center;
}
.TOM {
  height: 200px;
  width: 300px;
  display:inline-grid;
}
#store {
  height: 700px;
  width: 1000px;
  margin: auto;
  padding-top: 70px;
}
.flex-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
